<div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden">
    <div class="mx-4 md:mx-8 mt-0 md:mt-4 mb-6">
        <h1 class="text-6xl font-bold text-900 line-height-2">{{ 'rimap' | translate }}</h1>
        <p class="font-normal text-2xl line-height-3 md:mt-3 text-700">{{ 'rimap-description' | translate }} </p>
        <button pButton pRipple type="button"
                label="{{'join-us' | translate}}"
                class="text-xl border-none mt-3 bg-blue-50 font-normal line-height-3 px-3"></button>
    </div>
</div>

<div class="py-4 px-4 lg:px-8 my-2 md:my-4">
    <p-dataView #dv [value]="filteredCompanies" layout="grid" [paginator]="true" [rows]="6" filterBy="name">
        <ng-template pTemplate="header">
            <div class="flex justify-content-end">
                <span class="p-input-icon-left mr-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onFilter($event.target)"
                           placeholder="{{'keyword' | translate }}" class="w-full"/>
                </span>
            </div>
        </ng-template>
        <ng-template let-company pTemplate="gridItem">
            <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
                <div class="p-4 border-1 surface-border surface-card border-round">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                    </div>
                    <div class="flex flex-column align-items-center gap-3 py-5">
                        <img class="h-5 w-5 shadow-2 border-round" [src]="company.logo" [alt]="company.name" />
                        <div class="text-2xl font-bold">{{ company.name }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-between">
                        <button pButton icon="pi pi-shopping-cart" class="p-button-rounded"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
