<form [formGroup]="formName">
    <span class="p-float-label">
        <p-dropdown
            optionValue="id"
            optionLabel="name"
            emptyFilterMessage="{{ 'no-results-found' | translate }}"
            (onLazyLoad)="loadEntities()"
            [options]="data"
            [lazy]="true"
            [filter]="true"
            [autoDisplayFirst]="false"
            [formControlName]="controlName">
        </p-dropdown>
        <label>{{label | translate}}</label>
    </span>
</form>
