<form [formGroup]="form" (submit)="submit()">
    <div class="p-fluid">
        <div class="field field col-md-12">
            <span class="p-float-label">
                <input pInputText type="text" id="username" formControlName="username"/>
                <label for="username">{{ 'username' | translate }}</label>
            </span>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <p-password inputStyleClass="w-full p-3 md:w-50rem"
                            id="password"
                            formControlName="password" [feedback]="true"
                            [toggleMask]="true"></p-password>
                <label for="password">{{'password' | translate }}</label>
            </span>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <p-password inputStyleClass="w-full p-3 md:w-50rem" id="confirmPassword"
                            formControlName="confirmPassword" [feedback]="true"
                            [toggleMask]="true"></p-password>
                <label for="confirmPassword">{{'confirm-password' | translate }}</label>
            </span>
        </div>
        <div class="p-fluid">
            <button class="mt-3" type="submit" pButton pRipple
                    label="{{ 'save' | translate }}"></button>
        </div>
    </div>
</form>
