<form [formGroup]="form" (submit)="submit()">
    <div class="p-fluid">
        <div class="field field col-md-12">
            <span class="p-float-label">
                <input pInputText type="text" id="username" formControlName="username"/>
                <label for="username">{{ 'auth.username.default' | translate }}</label>
            </span>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <p-password inputStyleClass="w-full p-3 md:w-50rem"
                            promptLabel="{{'auth.password.enter' | translate }}"
                            weakLabel="{{'auth.password.weak' | translate }}"
                            mediumLabel="{{'auth.password.standard' | translate }}"
                            strongLabel="{{'auth.password.strong' | translate }}"
                            id="password"
                            formControlName="password"
                            [feedback]="true"
                            [toggleMask]="true"></p-password>
                <label for="password">{{'auth.password.default' | translate }}</label>
            </span>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <p-password inputStyleClass="w-full p-3 md:w-50rem" id="confirmPassword"
                            promptLabel="{{'auth.password.enter' | translate }}"
                            weakLabel="{{'auth.password.weak' | translate }}"
                            mediumLabel="{{'auth.password.standard' | translate }}"
                            strongLabel="{{'auth.password.strong' | translate }}"
                            formControlName="confirmPassword" [feedback]="true"
                            [toggleMask]="true"></p-password>
                <label for="confirmPassword">{{'auth.confirm-password.default' | translate }}</label>
            </span>
        </div>
        <div class="col-6 ml-0 pl-0">
            <p-button type="submit" styleClass="mt-3" icon="pi pi-save" iconPos="right"
                      label="{{'save' | translate }}"
                      [loading]="isLoading"></p-button>
        </div>
    </div>
</form>
