<form [formGroup]="form">

    <div class="field field col-md-12">
            <span class="p-float-label">
                <input class="{{validationService.getInputClass(form, 'username', 'required')}}"
                       aria-describedby="username-input"
                       pInputText type="text" id="username" formControlName="username" (keyup)="triggerUsernameCheck()"/>
                <label for="username">{{ 'username.default' | translate }}</label>
            </span>
        <small class="p-error"
               *ngIf="validationService.hasErrors(form, 'username', 'required')"
               id="username-input">{{ 'username.required' | translate }}</small>
    </div>

    <div class="field field col-md-12">
            <span class="p-float-label">
                <p-password inputStyleClass="w-full p-3 md:w-50rem"
                            id="password"
                            formControlName="password" [feedback]="true"
                            [toggleMask]="true"></p-password>
                <label for="password">{{'password' | translate }}</label>
            </span>
    </div>

    <div class="field field col-md-12">
            <span class="p-float-label">
                <p-password inputStyleClass="w-full p-3 md:w-50rem" id="confirmPassword"
                            formControlName="confirmPassword" [feedback]="true"
                            [toggleMask]="true"></p-password>
                <label for="confirmPassword">{{'confirm-password' | translate }}</label>
            </span>
    </div>
</form>
