<form [formGroup]="form">

    <div class="field field col-md-12">
            <span class="p-float-label p-input-icon-right">
                    <i *ngIf="usernameCheckLoading" class="pi pi-spin pi-spinner"></i>
                   <input class="{{validationService.getInputClass(form, 'username', 'required')}}"
                          aria-describedby="username-input"
                          pInputText type="text" id="username" formControlName="username"
                          (keyup)="triggerUsernameCheck()"/>
                <label for="username">{{ 'username.default' | translate }}</label>
            </span>
        <small class="p-error"
               *ngIf="validationService.hasErrors(form, 'username', 'required')"
               id="username-required">{{ 'username.required' | translate }}</small>
        <small class="p-error"
               *ngIf="validationService.hasErrors(form, 'username', 'email')"
               id="username-email">{{ 'username.email' | translate }}</small>
        <small class="p-error"
               *ngIf="validationService.hasErrors(form, 'username', 'unique')"
               id="username-unique">{{ 'username.unique' | translate }}</small>
    </div>

    <div class="field field col-md-12">
            <span class="p-float-label">
                <p-password inputStyleClass="w-full p-3 md:w-50rem"
                            id="password"
                            formControlName="password"
                            [feedback]="true"
                            [toggleMask]="true"></p-password>
                <label for="password">{{'password' | translate }}</label>
            </span>
        <small class="p-error"
               *ngIf="validationService.hasErrors(form, 'password', 'required')"
               id="password-required">{{ 'password.required' | translate }}</small>
        <small class="p-error"
               *ngIf="validationService.hasErrors(form, 'password', 'minLength')"
               id="password-minLength">{{ 'password.minLength' | translate }}</small>
    </div>

    <div class="field field col-md-12">
            <span class="p-float-label">
                <p-password inputStyleClass="w-full p-3 md:w-50rem" id="confirmPassword"
                            formControlName="confirmPassword"
                            [feedback]="true"
                            [toggleMask]="true"></p-password>
                <label for="confirmPassword">{{'confirm-password' | translate }}</label>
            </span>
        <small class="p-error"
               *ngIf="validationService.hasErrors(form, 'confirmPassword', 'required')"
               id="confirm-password-required">{{ 'confirm-password.required' | translate }}</small>
        <small class="p-error"
               *ngIf="validationService.hasErrors(form, 'confirmPassword', 'mismatch')"
               id="confirm-password-mismatch">{{ 'confirm-password.mismatch' | translate }}</small>
    </div>
</form>
