<div id="news" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden">
    <div class="mx-4 md:mx-8 mt-0 md:mt-4 mb-6 text-center">
        <h1 class="text-6xl font-bold text-100 line-height-2">{{ 'auth.choose-login-type' | translate }}</h1>
    </div>
</div>

<div class="card p-4">
    <form [formGroup]="loginForm" (submit)="submit()">
        <div class="flex flex-column align-items-center justify-content-center">
            <div>
                <div class="flex justify-content-center mb-4">
                    <div class="flex align-items-center">
                        <p-radioButton inputId="company" formControlName="entityType" [value]="entityType.Company"
                        ></p-radioButton>
                        <label for="company" class="m-2">{{'companies.default' | translate}}</label>
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton inputId="scientist" formControlName="entityType" [value]="entityType.Scientist"
                        ></p-radioButton>
                        <label for="scientist" class="m-2">{{'scientists.default' | translate}}</label>
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton inputId="organization" formControlName="entityType"
                                       [value]="entityType.Organization"
                        ></p-radioButton>
                        <label for="organization" class="m-2">{{'organizations.default' | translate}}</label>
                    </div>
                </div>
                <div class="w-full surface-card pt-2 px-5 sm:px-8">
                    <div class="field field col-md-12">
                        <span class="p-float-label">
                            <input type="text" class="w-full p-3 md:w-30rem" pInputText id="username"
                                   formControlName="username"/>
                            <label for="username">{{ 'auth.username.default' | translate }}</label>
                        </span>
                    </div>
                    <div class="field field col-md-12">
                        <span class="p-float-label">
                            <p-password inputStyleClass="w-full p-3 md:w-30rem" id="password"
                                        [formControlName]="'password'" [feedback]="false"
                                        [toggleMask]="true"></p-password>
                            <label for="password">{{'auth.password.default' | translate }}</label>
                        </span>
                    </div>
                    <p-button styleClass="w-full" icon="pi pi-sign-in" iconPos="right" type="submit"
                              label="{{'auth.login' | translate }}"
                              [loading]="isLoading"></p-button>
                </div>
            </div>
        </div>
    </form>
</div>

