<p-card [header]="shortTitle">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="imageLink ?? 'assets/layout/images/image-default.png'"/>
    </ng-template>
    <ng-template pTemplate="content">
        <p>
            <i class="pi pi-building label-icon"></i>
            <label class="ml-1">{{'address.label' | translate}}</label>
            {{shortAddress ? shortAddress : 'no-data' | translate }}
        </p>
        <p>
            <i class="pi pi-globe label-icon"></i>
            <label class="ml-1">{{'website.label' | translate}}</label>
            <a *ngIf="website" href="{{website}}" target="_blank">
                {{shortWebsite ? shortWebsite : 'no-data' | translate }}
            </a>
            <span class="ml-1" *ngIf="!website">{{'no-data' | translate }}</span>
        </p>
        <p *ngIf="entityType === type.Scientist">
            <i class="pi pi-link label-icon"></i>
            <label class="ml-1">{{'scientists.croris-link.label' | translate}}</label>
            <a *ngIf="croRisLink" href="{{croRisLink}}" target="_blank">
                {{shortExternalLink(croRisLink) ? shortExternalLink(croRisLink) : 'no-data' | translate }}
            </a>
            <span class="ml-1" *ngIf="!croRisLink">{{'no-data' | translate }}</span>
        </p>
        <p *ngIf="entityType === type.Scientist">
            <i class="pi pi-link label-icon"></i>
            <label class="ml-1">{{'scientists.crosbi-link.label' | translate}}</label>
            <a *ngIf="crosbiLink" href="{{crosbiLink}}" target="_blank">
                {{shortExternalLink(crosbiLink) ? shortExternalLink(crosbiLink) : 'no-data' | translate }}
            </a>
            <span class="ml-1" *ngIf="!crosbiLink">{{'no-data' | translate }}</span>
        </p>
        <p style="height: 40px;">
            <i class="pi pi-tags label-icon"></i>
            <label class="ml-1">{{'categories.label' | translate}}</label>
            <p-tag *ngFor="let category of entityCategories.slice(0, 2)">
                {{category.localizedName}}
            </p-tag>
        </p>
        <p style="height: 40px;">
            <span *ngIf="entityType === type.Company && products.length">
                <i class="pi pi-box label-icon"></i>
                <label class="ml-1">{{'products.label' | translate}}</label>
                <p-tag *ngFor="let product of products?.slice(0, 2)">
                    {{product.localizedTitle}}
                </p-tag>
            </span>
        </p>
    </ng-template>
    <ng-template pTemplate="footer">
        <button style="width: 100%" (click)="openDetailsPage()" pButton class="font-light line-height-2 bg-blue-500
        text-white simple-entity-card-button" label="{{'read-more' | translate}}"></button>
    </ng-template>
</p-card>
