<p-card [header]="shortTitle">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="imageLink ?? 'assets/layout/images/image-default.png'"/>
    </ng-template>
    <ng-template pTemplate="content">
        <p>
            <i class="pi pi-building label-icon"></i>
            <label class="ml-1">{{'address.label' | translate}}</label>
            {{shortAddress ? shortAddress : 'no-data' | translate }}
        </p>
        <p>
            <i class="pi pi-globe label-icon"></i>
            <label class="ml-1">{{'website.label' | translate}}</label>
            <a href="{{website}}" target="_blank">
                {{shortWebsite ? shortWebsite : 'no-data' | translate }}
            </a>
        </p>
        <p style="height: 40px;">
            <i class="pi pi-tags label-icon"></i>
            <label class="ml-1">{{'categories.label' | translate}}</label>
            <p-tag *ngFor="let category of entityCategories.slice(0, 2)">
                {{category.localizedName}}
            </p-tag>
        </p>
    </ng-template>
    <ng-template pTemplate="footer">
        <button style="width: 100%" (click)="openDetailsPage()" pButton class="font-light line-height-2 bg-blue-500
        text-white simple-entity-card-button" label="{{'read-more' | translate}}"></button>
    </ng-template>
</p-card>
