<p-card [header]="title">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="imageLink ?? 'assets/layout/images/image-default.png'"/>
    </ng-template>
    <ng-template pTemplate="content">
        <p>
            <label>{{'address' | translate}}</label>
            {{address}}
        </p>
        <p>
            <label>{{'categories' | translate}}</label>
            <span class="p-tag" *ngFor="let category of entityCategories">
                {{category.getName()}}
            </span>
        </p>
    </ng-template>
    <ng-template pTemplate="footer">
        <button style="width: 100%" (click)="openDetailsPage()" pButton class="font-light line-height-2 bg-blue-500
        text-white simple-entity-card-button" label="{{'read-more' | translate}}"></button>
    </ng-template>
</p-card>
