<form [formGroup]="form" (submit)="submit()">
    <div class="grid">
        <div class="col-12">
            <div class="p-fluid">
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'title', 'required')}}"
                               aria-describedby="title-input"
                               pInputText type="text" id="title" formControlName="title"/>
                        <label for="title">{{ 'education-title.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'title', 'required')"
                           id="title-input">{{ 'education-title.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'firstname', 'required')}}"
                               aria-describedby="firstname-input"
                               pInputText type="text" id="firstname" formControlName="firstname"/>
                        <label for="firstname">{{ 'firstname.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'firstname', 'required')"
                           id="firstname-input">{{ 'firstname.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'lastname', 'required')}}"
                               aria-describedby="lastname-input"
                               pInputText type="text" id="lastname" formControlName="lastname"/>
                        <label for="lastname">{{ 'lastname.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'lastname', 'required')"
                           id="lastname-input">{{ 'lastname.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <textarea class="{{validationService.getInputClass(form, 'description', 'required')}}"
                                  aria-describedby="description-input"
                                  pInputText
                                  id="description"
                                  formControlName="description"></textarea>
                        <label for="description">{{ 'description.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'description', 'required')"
                           id="description-input">{{ 'description.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'email', 'required')}}"
                               aria-describedby="email-input"
                               pInputText type="email" id="email" formControlName="email"/>
                        <label for="email">{{ 'email.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'email', 'required')"
                           id="email-input">{{ 'email.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'website', 'required')}}"
                               aria-describedby="website-input"
                               pInputText type="text" id="website" formControlName="website"/>
                        <label for="website">{{ 'website.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'website', 'required')"
                           id="website-input">{{ 'website.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'employmentCollege',
                         'required')}}" aria-describedby="employmentCollege-input"
                               pInputText type="text" id="employmentCollege" formControlName="employmentCollege"/>
                        <label for="employmentCollege">{{ 'employment-college.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'employmentCollege', 'required')"
                           id="employmentCollege-input">{{ 'employment-college.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'functions', 'required')}}"
                               aria-describedby="functions-input"
                               pInputText type="text" id="functions" formControlName="functions"/>
                        <label for="functions">{{ 'functions.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'functions', 'required')"
                           id="functions-input">{{ 'functions.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'projects', 'required')}}"
                               aria-describedby="projects-input"
                               pInputText type="text" id="projects" formControlName="projects"/>
                        <label for="projects">{{ 'projects.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'projects', 'required')"
                           id="projects-input">{{ 'projects.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'googleScholarLink', 'required')}}"
                               aria-describedby="googleScholarLink-input"
                               pInputText type="text" id="googleScholarLink" formControlName="googleScholarLink"/>
                        <label for="googleScholarLink">{{ 'google-scholar-Link.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'googleScholarLink', 'required')"
                           id="googleScholarLink-input">{{ 'google-scholar-Link.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <categories-selector
                            controlName="categories"
                            label="categories.default"
                            [form]="form"
                            [data]="categories">
                        </categories-selector>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'categories', 'required')"
                           id="categories-input">{{ 'categories.required' | translate }}</small>
                </div>
                <div class="col-6 ml-0 pl-0">
                    <button iconPos="right" class="mt-3" type="submit" pButton pRipple
                            label="{{ 'save' | translate }}" icon="pi pi-save"></button>
                </div>
            </div>
        </div>
    </div>
</form>
