<form [formGroup]="form" (submit)="submit()">
    <div class="grid">
        <div class="col-12">
            <div class="p-fluid">
                <div class="field field col-md-12 text-center" *ngIf="formType === type.Edit">
                    <img class="profile-picture" [src]="scientist.imageUrl" height="250" width="250" alt="image">
                </div>
                <div class="field field col-md-12" *ngIf="formType === type.Edit">
                    <file-uploader name="image"
                                   [parentForm]="form"
                                   [entityType]="entityType"
                                   [entityId]="scientist.id">
                    </file-uploader>
                </div>
                <credentials-form *ngIf="formType === type.Create" [entityType]="entityType"
                                  [form]="form"></credentials-form>

                <p-tabView>
                    <p-tabPanel header="{{ 'croatian' | translate }}" class="line-height-3 m-0">

                        <div class="field field col-md-12" formGroupName="title">
                            <span class="p-float-label" formGroupName="translations">
                                <input class="{{validationService.getInputClass(form, 'HR', 'required',
                                'title.translations')}}"
                                       aria-describedby="title-input-hr"
                                       pInputText type="text" id="title-hr" formControlName="HR"/>
                                <label for="title-hr">{{ 'scientists.education-title.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'HR', 'required',
                                   'title.translations')"
                                   id="title-input-hr">{{ 'scientists.education-title.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="description">
                            <span class="p-float-label" formGroupName="translations">
                                <textarea
                                    class="{{validationService.getInputClass(form, 'HR', 'required',
                                    'description.translations')}}"
                                    aria-describedby="description-input-hr"
                                    pInputText
                                    id="description-hr"
                                    formControlName="HR"></textarea>
                                <label for="description-hr">{{ 'scientists.description.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'HR', 'required',
                                   'description.translations')"
                                   id="description-input-hr">{{ 'scientists.description.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="employmentCollege">
                            <span class="p-float-label" formGroupName="translations">
                                <input class="{{validationService.getInputClass(form, 'HR',
                                 'required', 'employmentCollege.translations')}}"
                                       aria-describedby="employmentCollege-input-hr"
                                       pInputText type="text" id="employmentCollege-hr" formControlName="HR"/>
                                <label
                                    for="employmentCollege-hr">{{ 'scientists.employment-college.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'HR', 'required',
                                   'employmentCollege.translations')"
                                   id="employmentCollege-input-hr">{{ 'scientists.employment-college.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="functions">
                            <span class="p-float-label" formGroupName="translations">
                                <input class="{{validationService.getInputClass(form, 'HR', 'required',
                                'functions.translations')}}"
                                       aria-describedby="functions-input-hr"
                                       pInputText type="text" id="functions-hr" formControlName="HR"/>
                                <label for="functions-hr">{{ 'scientists.functions.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'HR', 'required',
                                   'functions.translations')"
                                   id="functions-input-hr">{{ 'scientists.functions.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="projects">
                            <span class="p-float-label" formGroupName="translations">
                                <input
                                    class="{{validationService.getInputClass(form, 'HR', 'required', 'projects.translations')}}"
                                    aria-describedby="projects-input-hr"
                                    pInputText type="text" id="projects-hr" formControlName="HR"/>
                                <label for="projects-hr">{{ 'scientists.projects.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'HR', 'required', 'projects.translations')"
                                   id="projects-input-hr">{{ 'scientists.projects.required' | translate }}</small>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{ 'english' | translate }}" class="line-height-3 m-0">
                        <div class="field field col-md-12" formGroupName="title">
                            <span class="p-float-label" formGroupName="translations">
                                <input class="{{validationService.getInputClass(form, 'EN', 'required',
                                'title.translations')}}"
                                       aria-describedby="title-input-en"
                                       pInputText type="text" id="title-en" formControlName="EN"/>
                                <label for="title-en">{{ 'scientists.education-title.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'EN', 'required',
                                   'title.translations')"
                                   id="title-input-en">{{ 'scientists.education-title.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="description">
                            <span class="p-float-label" formGroupName="translations">
                                <textarea
                                    class="{{validationService.getInputClass(form, 'EN', 'required',
                                    'description.translations')}}"
                                    aria-describedby="description-input-hr"
                                    pInputText
                                    id="description-en"
                                    formControlName="EN"></textarea>
                                <label for="description-en">{{ 'scientists.description.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'EN', 'required',
                                   'description.translations')"
                                   id="description-input-en">{{ 'scientists.description.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="employmentCollege">
                            <span class="p-float-label" formGroupName="translations">
                                <input class="{{validationService.getInputClass(form, 'EN',
                                 'required', 'employmentCollege.translations')}}"
                                       aria-describedby="employmentCollege-input-en"
                                       pInputText type="text" id="employmentCollege-en" formControlName="EN"/>
                                <label
                                    for="employmentCollege-en">{{ 'scientists.employment-college.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'EN', 'required',
                                   'employmentCollege.translations')"
                                   id="employmentCollege-input-en">{{ 'scientists.employment-college.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="functions">
                            <span class="p-float-label" formGroupName="translations">
                                <input class="{{validationService.getInputClass(form, 'EN', 'required',
                                'functions.translations')}}"
                                       aria-describedby="functions-input-en"
                                       pInputText type="text" id="functions-en" formControlName="EN"/>
                                <label for="functions-en">{{ 'scientists.functions.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'EN', 'required',
                                   'functions.translations')"
                                   id="functions-input-en">{{ 'scientists.functions.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="projects">
                            <span class="p-float-label" formGroupName="translations">
                                <input
                                    class="{{validationService.getInputClass(form, 'EN', 'required', 'projects.translations')}}"
                                    aria-describedby="projects-input-en"
                                    pInputText type="text" id="projects-en" formControlName="EN"/>
                                <label for="projects-en">{{ 'scientists.projects.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'EN', 'required', 'projects.translations')"
                                   id="projects-input-en">{{ 'scientists.projects.required' | translate }}</small>
                        </div>
                    </p-tabPanel>
                </p-tabView>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'firstname', 'required')}}"
                               aria-describedby="firstname-input"
                               pInputText type="text" id="firstname" formControlName="firstname"/>
                        <label for="firstname">{{ 'scientists.firstname.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'firstname', 'required')"
                           id="firstname-input">{{ 'scientists.firstname.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'lastname', 'required')}}"
                               aria-describedby="lastname-input"
                               pInputText type="text" id="lastname" formControlName="lastname"/>
                        <label for="lastname">{{ 'scientists.lastname.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'lastname', 'required')"
                           id="lastname-input">{{ 'scientists.lastname.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'email', 'required')}}"
                               aria-describedby="email-input"
                               pInputText type="email" id="email" formControlName="email"/>
                        <label for="email">{{ 'scientists.email.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'email', 'required')"
                           id="email-input">{{ 'scientists.email.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'website', 'required')}}"
                               aria-describedby="website-input"
                               pInputText type="text" id="website" formControlName="website"/>
                        <label for="website">{{ 'scientists.website.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'website', 'required')"
                           id="website-input">{{ 'scientists.website.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'googleScholarLink', 'required')}}"
                               aria-describedby="googleScholarLink-input"
                               pInputText type="text" id="googleScholarLink" formControlName="googleScholarLink"/>
                        <label
                            for="googleScholarLink">{{ 'scientists.google-scholar-Link.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'googleScholarLink', 'required')"
                           id="googleScholarLink-input">{{ 'scientists.google-scholar-Link.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <categories-selector
                            controlName="newsletterCategories"
                            label="categories.newsletter-categories.default"
                            [form]="form"
                            [data]="categories">
                        </categories-selector>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'newsletterCategories', 'required')"
                           id="newsletter-categories-input">{{ 'categories.newsletter-categories.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <categories-selector
                            controlName="categories"
                            label="categories.default"
                            [form]="form"
                            [data]="categories">
                        </categories-selector>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'categories', 'required')"
                           id="categories-input">{{ 'categories.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <small class="helper-text">
                        <i class="pi pi-info-circle"></i>
                        {{'categories.tags.please-hit-enter' | translate }}
                    </small>
                    <span class="p-float-label mt-1">
                        <p-chips class="{{validationService.getInputClass(form, 'categoryTags', 'required')}}"
                                 aria-describedby="tags-input"
                                 id="tags" formControlName="categoryTags"></p-chips>
                        <label for="tags">{{ 'categories.tags.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'categoryTags', 'required')"
                           id="tags-input">{{ 'categories.tags.required' | translate }}</small>
                </div>
                <div class="col-12 ml-0 p-0">
                    <p-button iconPos="right" class="mt-3" type="submit"
                              label="{{ 'save' | translate }}" icon="pi pi-save"
                              [loading]="isLoading"></p-button>
                </div>
            </div>
        </div>
    </div>
</form>
