
<h4>{{'onboardings.data-view.label' | translate }} {{onboarding.data.abbreviatedName}}</h4>

<p>
    <label>{{'onboardings.full-name.label' | translate }} </label>
    {{ onboarding.data.fullName }}
</p>
<p>
    <label>{{'onboardings.abbreviated-name.label' | translate }} </label>
    {{ onboarding.data.abbreviatedName }}
</p>
<p>
    <label>{{'onboardings.personal-identification-number.label' | translate }} </label>
    {{ onboarding.data.personalIdentificationNumber }}
</p>
<p>
    <label>{{'onboardings.registration-number.label' | translate }} </label>
    {{ onboarding.data.registrationNumber }}
</p>
<p>
    <label>{{'onboardings.court-registration-number.label' | translate }} </label>
    {{ onboarding.data.courtRegistrationNumber }}
</p>
<p>
    <label>{{'onboardings.number-of-employee-hours.label' | translate }} </label>
    {{ onboarding.data.numberOfEmployeeHours }}
</p>
<p>
    <label>{{'onboardings.number-of-employees.label' | translate }} </label>
    {{ onboarding.data.numberOfEmployees }}
</p>
<p>
    <label>{{'onboardings.website.label' | translate }} </label>
    {{ onboarding.data.website || 'no-data'  | translate }}
</p>
<p>
    <label>{{'onboardings.court-register-email.label' | translate }} </label>
    {{ onboarding.data.courtRegisterEmail }}
</p>
<p>
    <label>{{'onboardings.nkd-code.label' | translate }} </label>
    {{ onboarding.data.nkdCode }}
</p>
<p>
    <label>{{'onboardings.nkd-name.label' | translate }} </label>
    {{ onboarding.data.nkdName }}
</p>
<p>
    <label>{{'onboardings.address.label' | translate }} </label>
    {{ onboarding.data.address }}
</p>
<p>
    <label>{{'onboardings.location.label' | translate }} </label>
    {{ onboarding.data.location }}
</p>
<p>
    <label>{{'onboardings.postal-code.label' | translate }} </label>
    {{ onboarding.data.postalCode }}
</p>
<p>
    <label>{{'onboardings.county.label' | translate }} </label>
    {{ onboarding.data.county }}
</p>
<p>
    <label>{{'onboardings.telephone.label' | translate }} </label>
    {{ onboarding.data.telephone || 'no-data'  | translate }}
</p>
<p>
    <label>{{'onboardings.fax.label' | translate }} </label>
    {{ onboarding.data.fax || 'no-data'  | translate }}
</p>
<p>
    <label>{{'onboardings.mobile.label' | translate }} </label>
    {{ onboarding.data.mobile || 'no-data'  | translate }}
</p>
<p>
    <label>{{'onboardings.email.label' | translate }} </label>
    {{ onboarding.data.email || 'no-data'  | translate }}
</p>
<p>
    <label>{{'onboardings.company-size.label' | translate }} </label>
    {{ onboarding.data.companySize }}
</p>
<p>
    <label>{{'onboardings.authorized-representatives.label' | translate }} </label>
    {{ onboarding.data.authorizedRepresentatives }}
</p>
<p>
    <label>{{'onboardings.managers-or-liquidators.label' | translate }} </label>
    {{ onboarding.data.managersOrLiquidators || 'no-data'  | translate }}
</p>

