<div
    class="flex flex-column border-200 pricing-card cursor-pointer border-1 hover:border-primary
    transition-duration-300 transition-all"
    style="height: 100%; border-radius: 10px; background-color: #ffffff;">
    <img class="h-10" style="border-top-left-radius: 10px; border-top-right-radius: 10px" [src]="imageLink" alt="free">
    <h4 class="text-600 text-left p-3">{{ title }}</h4>
    <button pButton pRipple label="{{'read-more' | translate}}"
            class="block border-none font-light line-height-2 bg-blue-500 text-white">
        <a [href]="detailsLink"></a>
    </button>
</div>

