
<h4>{{'activities.last-activities-on-platform' | translate }}</h4>

<div class="mt-6 m-4">
    <h5>{{'activities.created-entities' | translate }}</h5>

    <activity-list
        [dataType]="activityType.Created"
        [companies]="lastActivities.createdCompanies"
        [organizations]="lastActivities.createdPublicOrganizations"
        [scientists]="lastActivities.createdScientists"
        [companiesWithJobOffers]="lastActivities.companiesWithCreatedJobOffers"
        [scientistsWithEquipment]="lastActivities.scientistsWithCreatedEquipment"
        [scientistsWithSpecificKnowledge]="lastActivities.scientistsWithCreatedSpecificKnowledge"
        [companiesWithResearchProblems]="lastActivities.companiesWithCreatedResearchProblems"
        [organizationsWithResearchProblems]="lastActivities.publicOrganizationsWithCreatedResearchProblems">
    </activity-list>
</div>


<div class="m-4">
    <h5>{{'activities.updated-entities' | translate }}</h5>

    <activity-list
        [dataType]="activityType.Updated"
        [companies]="lastActivities.updatedCompanies"
        [organizations]="lastActivities.updatedPublicOrganizations"
        [scientists]="lastActivities.updatedScientists"
        [companiesWithJobOffers]="lastActivities.companiesWithUpdatedJobOffers"
        [scientistsWithEquipment]="lastActivities.scientistsWithCreatedEquipment"
        [scientistsWithSpecificKnowledge]="lastActivities.scientistsWithUpdatedSpecificKnowledge"
        [companiesWithResearchProblems]="lastActivities.companiesWithUpdatedResearchProblems"
        [organizationsWithResearchProblems]="lastActivities.publicOrganizationsWithUpdatedResearchProblems">
    </activity-list>
</div>
