<p-dataView #dv [value]="filteredEntities" layout="grid" [paginator]="true" [rows]="8"
            filterBy="name">
    <ng-template pTemplate="header">
        <div class="flex justify-content-end">
                <span class="p-input-icon-left mr-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onFilter($event.target)"
                           placeholder="{{'keyword' | translate }}" class="w-full"/>
                </span>
        </div>
    </ng-template>
    <ng-template let-entity pTemplate="gridItem">
        <div class="col-12 lg:col-3 p-3">
            <simple-entity-card
                *ngIf="simpleEntity"
                [imageLink]="entity.image"
                [title]="entity.title"
                [detailsLink]="entity.detailsLink">
            </simple-entity-card>
            <entity-card
                *ngIf="!simpleEntity"
                [entityId]="entity.id"
                [entityType]="entityType"
                [imageLink]="entity.getImageLink()"
                [title]="entity.getTitle()"
                [categories]="categories"
                [address]="entity.getAddress()"
                [externalLink]="entity.getExternalLink()">
            </entity-card>
        </div>
    </ng-template>
</p-dataView>
