<p-dataView #dv [value]="filteredEntities" layout="grid" [paginator]="true" [rows]="8"
            [filterBy]="filterField" emptyMessage="{{'no-data' | translate }}">
    <ng-template pTemplate="header" *ngIf="showFilterInput">
        <div class="flex justify-content-end">
                <span class="p-input-icon-left mr-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onFilter($event.target)"
                           placeholder="{{'keyword' | translate }}" class="w-full"/>
                </span>
        </div>
    </ng-template>
    <ng-template let-entityItem pTemplate="gridItem">
        <div class="col-12 lg:col-3 p-3">
            <simple-entity-card
                *ngIf="entity.isSimpleEntity(entityType)"
                [entityId]="entityItem.id"
                [content]="entity.getDescription(entityItem, entityType)"
                [entityType]="entityType"
                [parentEntityId]="entityItem.parentId"
                [parentEntityType]="parentEntityType"
                [imageLink]="entityItem.image"
                [title]="entity.getTitle(entityItem, entityType)">
            </simple-entity-card>
            <entity-card
                *ngIf="!entity.isSimpleEntity(entityType)"
                [entityId]="entityItem.id"
                [entityType]="entityType"
                [entityCategories]="entityItem.categories"
                [imageLink]="entityItem.image"
                [website]="entityItem.website"
                [title]="entity.getTitle(entityItem, entityType)"
                [address]="entity.getAddress(entityItem, entityType)">
            </entity-card>
        </div>
    </ng-template>
</p-dataView>
