<!-- financing-source.component.html -->
<div class="financing-source-container">
    <h4>{{ 'financing-sources.view-of-data' | translate }}</h4>

    <div>
        <div class="field">
            <label>{{ 'financing-sources.title.label' | translate }}</label>
            <p>{{ financingSource.title }}</p>
        </div>
        <div class="field">
            <label>{{ 'financing-sources.geographic-coverage.label' | translate }}</label>
            <p>{{ financingSource.geographicCoverage }}</p>
        </div>
        <div class="field">
            <label>{{ 'financing-sources.priority.label' | translate }}</label>
            <p>{{ financingSource.priority }}</p>
        </div>
        <div class="field">
            <label>{{ 'financing-sources.specific-objective.label' | translate }}</label>
            <p>{{ financingSource.specificObjective }}</p>
        </div>
        <div class="field">
            <label>{{ 'financing-sources.objectives.label' | translate }}</label>
            <p>{{ financingSource.objectives }}</p>
        </div>
        <div class="field">
            <label>{{ 'financing-sources.type.label' | translate }}</label>
            <p>{{ financingSource.type }}</p>
        </div>
        <div class="field">
            <label>{{ 'financing-sources.eligible-activities-description.label' | translate }}</label>
            <p>{{ financingSource.eligibleActivitiesDescription }}</p>
        </div>
        <div class="field">
            <label>{{ 'financing-sources.eligible-applicants-type.label' | translate }}</label>
            <p>{{ financingSource.eligibleApplicantsType }}</p>
        </div>
        <div class="field">
            <label>{{ 'financing-sources.total-grant-amount.label' | translate }}</label>
            <p>{{ financingSource.totalGrantAmount | currency }}</p>
        </div>
        <div class="field">
            <label>{{ 'financing-sources.support-intensity.label' | translate }}</label>
            <p>{{ financingSource.supportIntensity }}%</p>
        </div>
        <div class="field">
            <label>{{ 'financing-sources.start-date.label' | translate }}</label>
            <p>{{ financingSource.startDate | date }}</p>
        </div>
        <div class="field">
            <label>{{ 'financing-sources.end-date.label' | translate }}</label>
            <p>{{ financingSource.endDate | date }}</p>
        </div>
    </div>
</div>
