<div class="grid">
    <div class="col-12 md:col-12">
        <p-tabView>
            <p-tabPanel header="{{ 'general' | translate }}" class="line-height-3 m-0">
                <scientist-general-form [formType]="formType"
                                        [scientist]="scientist"
                                        [categories]="categories"></scientist-general-form>
            </p-tabPanel>
            <p-tabPanel header="{{ 'username-password' | translate }}" class="line-height-3 m-0">
                <div class="p-fluid">
                    <auth-change-password [username]="this.scientist.username"
                                          [entityType]="entityType"></auth-change-password>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'equipment.default' | translate }}" class="line-height-3 m-0">
                <equipment-data-table
                    [data]="equipment"
                    [scientistId]="scientist.id"
                    [dialogEdit]="true"
                    [categories]="categories"
                ></equipment-data-table>
            </p-tabPanel>
            <p-tabPanel header="{{'specific-knowledge.default' | translate }}" class="line-height-3 m-0">
                <specific-knowledge-data-table
                    [data]="specificKnowledge"
                    [scientistId]="scientist.id"
                    [dialogEdit]="true"
                    [categories]="categories"
                ></specific-knowledge-data-table>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
