<div class="grid">
    <div class="col-12 md:col-6">
        <div class="p-fluid">
            <div class="field">
                <label for="name1">Name</label>
                <input pInputText id="name1" type="text"/>
            </div>
            <div class="field">
                <label for="email1">Email</label>
                <input pInputText id="email1" type="text"/>
            </div>
            <div class="field">
                <label for="age1">Age</label>
                <input pInputText id="age1" type="text"/>
            </div>
        </div>
    </div>
</div>
