<div class="my-3">
    <h4>{{'onboardings.send-email-notifications' | translate }}</h4>
</div>

<form [formGroup]="form" (submit)="onSubmit()">
    <span class="p-float-label">
      <p-multiSelect
          appendTo="body"
          emptyFilterMessage="{{ 'onboardings.no-onboardings-found' | translate }}"
          optionLabel="data.abbreviatedName"
          optionValue="id"
          formControlName="onboardingBatchItemIds"
          [style]="{'width':'100%'}"
          [lazy]="true"
          [options]="data"
          [filter]="true">
      </p-multiSelect>
      <label>{{label | translate}}</label>
    </span>
    <p-button (click)="showPreview()"
              icon="pi pi-eye"
              iconPos="right"
              styleClass="mt-3 mr-3"
              label="{{ 'newsletters.free-form-newsletters.email-preview-header' | translate }}"/>
    <p-button type="submit"
              iconPos="right"
              [style]="{'margin-top':'10px'}"
              [loading]="isLoading"
              label="{{ 'send-notifications' | translate }}" icon="pi pi-send"
              class="submit-button"></p-button>
</form>


