<form [formGroup]="form" (submit)="submit()">
    <div class="p-fluid">
        <div class="field field col-md-12 text-center" *ngIf="formType === type.Edit">
            <img class="profile-picture" [src]="company.imageUrl" height="250" width="250">
        </div>
        <div class="field field col-md-12" *ngIf="formType === type.Edit">
            <file-uploader
                name="image"
                [parentForm]="form"
                [entityType]="entityType"
                [entityId]="company.id">
            </file-uploader>
        </div>
        <credentials-form *ngIf="formType === type.Create" [entityType]="entityType" [form]="form"></credentials-form>

        <div class="field field col-md-12">
            <span class="p-float-label">
                <input class="{{validationService.getInputClass(form, 'name', 'required')}}"
                       aria-describedby="name-input"
                       pInputText type="text" id="name" formControlName="name"/>
                <label for="name">{{ 'companies.name.default' | translate }}</label>
            </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'name', 'required')"
                   id="name-input">{{ 'companies.name.required' | translate }}</small>
        </div>

        <p-tabView>
            <p-tabPanel header="{{ 'croatian' | translate }}" class="line-height-3 m-0">
                <div class="field field col-md-12" formGroupName="description">
                <span class="p-float-label" formGroupName="translations">
                    <textarea
                        class="{{validationService.getInputClass(form, 'HR', 'required',
                        'description.translations')}}"
                        pInputText
                        aria-describedby="description-input"
                        id="description-hr"
                        formControlName="HR"
                        rows="10">
                    </textarea>
                    <label for="description-hr">{{ 'companies.description.default' | translate }}</label>
                </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'HR', 'required',
                           'description.translations')"
                           id="description-input-hr">{{ 'companies.description.required' | translate }}</small>
                </div>
                <div class="field field col-md-12" formGroupName="projects">
                    <span class="p-float-label" formGroupName="translations">
                        <input
                            pInputText type="text" id="projects-hr" formControlName="HR"/>
                        <label for="projects-hr">{{ 'companies.projects.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'HR', 'required',
                   'projects.translations')"
                           id="projects-input-hr">{{ 'companies.projects.required' | translate }}</small>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{ 'english' | translate }}" class="line-height-3 m-0">
                <div class="field field col-md-12" formGroupName="description">
            <span class="p-float-label" formGroupName="translations">
                <textarea
                    class="{{validationService.getInputClass(form, 'EN', 'required',
                    'description.translations')}}"
                    pInputText
                    aria-describedby="description-input-en"
                    id="description-en"
                    formControlName="EN"
                    rows="10">
                </textarea>
                <label for="description-en">{{ 'companies.description.default' | translate }}</label>
            </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'EN', 'required',
                           'description.translations')"
                           id="description-input-en">{{ 'companies.description.required' | translate }}</small>
                </div>
                <div class="field field col-md-12" formGroupName="projects">
                    <span class="p-float-label" formGroupName="translations">
                        <input
                            pInputText type="text" id="projects-en" formControlName="EN"/>
                        <label for="projects-en">{{ 'companies.projects.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'EN', 'required',
                   'projects.translations')"
                           id="projects-input-en">{{ 'companies.projects.required' | translate }}</small>
                </div>
            </p-tabPanel>
        </p-tabView>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <input class="{{validationService.getInputClass(form, 'address', 'required')}}"
                       aria-describedby="address-input"
                       pInputText type="text" id="address" formControlName="address"/>
                <label for="address">{{ 'companies.address.default' | translate }}</label>
            </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'address', 'required')"
                   id="address-input">{{ 'companies.address.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'email', 'required')}}"
                               aria-describedby="email-input"
                               pInputText type="email" id="email" formControlName="email"/>
                        <label for="email">{{ 'companies.email.default' | translate }}</label>
                    </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'email', 'required')"
                   id="email-input">{{ 'companies.email.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'taxCode', 'required')}}"
                               aria-describedby="taxCode-input"
                               pInputText type="text" id="taxCode" formControlName="taxCode"/>
                        <label for="taxCode">{{ 'companies.tax-code.default' | translate }}</label>
                    </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'taxCode', 'required')"
                   id="taxCode-input">{{ 'companies.tax-code.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <input class="{{validationService.getInputClass(form, 'website', 'required')}}"
                       aria-describedby="website-input"
                       pInputText type="text" id="website" formControlName="website"/>
                <label for="website">{{ 'companies.website.default' | translate }}</label>
            </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'website', 'required')"
                   id="website-input">{{ 'companies.website.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <input class="{{validationService.getInputClass(form, 'numberOfEmployees', 'required')}}"
                       min="1" pInputText type="number" id="numberOfEmployees"
                       aria-describedby="numberOfEmployees-input"
                       formControlName="numberOfEmployees"/>
                <label for="numberOfEmployees">{{ 'companies.number-of-employees.default' | translate }}</label>
            </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'numberOfEmployees', 'required')"
                   id="numberOfEmployees-input">{{ 'companies.number-of-employees.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
                    <span class="p-float-label">
                        <categories-selector
                            controlName="newsletterCategories"
                            label="categories.newsletter-categories.default"
                            [form]="form"
                            [data]="categories">
                        </categories-selector>
                    </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'newsletterCategories', 'required')"
                   id="newsletter-categories-input">{{ 'categories.newsletter-categories.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
                    <span class="p-float-label">
                        <categories-selector
                            controlName="categories"
                            label="categories.default"
                            [form]="form"
                            [data]="categories">
                        </categories-selector>
                    </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'categories', 'required')"
                   id="categories-input">{{ 'categories.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label  mb-1">
                <p-chips class="{{validationService.getInputClass(form, 'categoryTags', 'required')}}"
                         aria-describedby="tags-input"
                         id="tags" formControlName="categoryTags"></p-chips>
                <label for="tags">{{ 'categories.tags.default' | translate }}</label>
            </span>
            <small class="helper-text">
                <i class="pi pi-info-circle"></i>
                {{'categories.tags.please-hit-enter' | translate }}
            </small>
            <br/>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'categoryTags', 'required')"
                   id="tags-input">{{ 'categories.tags.required' | translate }}</small>
        </div>
        <div class="col-12 ml-0 p-0">
            <p-button iconPos="right" class="mt-3" type="submit"
                      label="{{ 'save' | translate }}" icon="pi pi-save"
                      [loading]="isLoading"></p-button>
        </div>
    </div>
</form>
