<company-form *ngIf="profileEntityType == entityType.Company"
              [company]="entity"
              [formType]="formType.Edit"
              [categories]="categories"
              [jobOffers]="entity?.jobOffers"
              [returnUrl]="returnUrl"
              [researchProblems]="entity?.researchProblems"
></company-form>

<organization-form *ngIf="profileEntityType == entityType.Organization"
                   [organization]="entity"
                   [formType]="formType.Edit"
                   [categories]="categories"
                   [returnUrl]="returnUrl"
                   [researchProblems]="entity?.researchProblems">
</organization-form>

<scientist-form *ngIf="profileEntityType == entityType.Scientist"
                [scientist]="entity"
                [formType]="formType.Edit"
                [categories]="categories"
                [returnUrl]="returnUrl"
                [specificKnowledge]="entity?.specificKnowledge"
                [equipment]="entity?.equipment"
></scientist-form>
