<form [formGroup]="form" (submit)="submit()">
    <div class="grid">
        <div class="col-12">
            <div class="p-fluid">
                <div class="field field col-md-12">
                    <file-uploader name="image"
                                   [parentForm]="form"
                                   [entityType]="entityType"
                                   [entityId]="equipment.id"
                                   [parentEntityType]="type.Scientist"
                                   [parentEntityId]="equipment.scientistId"></file-uploader>
                </div>
                <p-tabView>
                    <p-tabPanel header="{{ 'croatian' | translate }}" class="line-height-3 m-0">
                        <div class="field field col-md-12" formGroupName="title">
                            <span class="p-float-label" formGroupName="translations">
                                <input class="{{validationService.getInputClass(form, 'HR', 'required',
                                'title.translations')}}"
                                       aria-describedby="title-input-hr"
                                       pInputText type="text" id="title-hr" formControlName="HR"/>
                                <label for="title-hr">{{ 'equipment.title.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'HR', 'required',
                                   'title.translations')"
                                   id="title-input-hr">{{ 'equipment.title.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="description">
                            <span class="p-float-label" formGroupName="translations">
                                <textarea
                                    class="{{validationService.getInputClass(form, 'HR', 'required',
                                    'description.translations')}}"
                                    aria-describedby="description-input-hr"
                                    pInputText
                                    id="description-hr"
                                    formControlName="HR"></textarea>
                                <label for="description-hr">{{ 'equipment.description.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'HR', 'required',
                                   'description.translations')"
                                   id="description-input-hr">{{ 'equipment.description.required' | translate }}</small>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{ 'english' | translate }}" class="line-height-3 m-0">
                        <div class="field field col-md-12" formGroupName="title">
                            <span class="p-float-label" formGroupName="translations">
                                <input class="{{validationService.getInputClass(form, 'EN', 'required',
                                'title.translations')}}"
                                       aria-describedby="title-input-en"
                                       pInputText type="text" id="title-en" formControlName="EN"/>
                                <label for="title-en">{{ 'equipment.title.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'EN', 'required',
                                   'title.translations')"
                                   id="title-input-en">{{ 'equipment.title.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="description">
                            <span class="p-float-label" formGroupName="translations">
                                <textarea
                                    class="{{validationService.getInputClass(form, 'EN', 'required',
                                    'description.translations')}}"
                                    aria-describedby="description-input-hr"
                                    pInputText
                                    id="description-en"
                                    formControlName="EN"></textarea>
                                <label for="description-en">{{ 'equipment.description.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'EN', 'required',
                                   'description.translations')"
                                   id="description-input-en">{{ 'equipment.description.required' | translate }}</small>
                        </div>
                    </p-tabPanel>
                </p-tabView>
                <div class="field col-md-12">
                    <span class="p-float-label">
                        <categories-selector
                            controlName="categories"
                            label="categories.default"
                            [form]="form"
                            [data]="categories">
                        </categories-selector>
                    </span>
                </div>
                <div class="col-6 ml-0 pl-0">
                    <p-button iconPos="right" class="mt-3" type="submit" pRipple
                              label="{{ 'save' | translate }}" icon="pi pi-save"
                              [loading]="isLoading"></p-button>
                </div>
            </div>
        </div>
    </div>
</form>
