<form [formGroup]="form" (submit)="submit()">
    <div class="grid">
        <div class="col-12 mt-2">
            <div class="p-fluid">
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form, 'title', 'required')}}"
                               aria-describedby="title-input"
                               pInputText type="text" id="title" formControlName="title"/>
                        <label for="title">{{ 'title.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'title', 'required')"
                           id="title-input">{{ 'title.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <textarea class="{{validationService.getInputClass(form, 'description', 'required')}}"
                                  aria-describedby="description-input"
                                  pInputText id="description" formControlName="description"></textarea>
                        <label for="description">{{ 'description.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'description', 'required')"
                           id="description-input">{{ 'description.required' | translate }}</small>
                </div>
                <div class="field field col-md-12">
                    <span class="p-float-label">
                        <input class="{{validationService.getInputClass(form,
                        'academicCommunityContributionPossibility', 'required')}}"
                               aria-describedby="academicCommunityContributionPossibility-input"
                               pInputText type="text" id="academicCommunityContributionPossibility"
                               formControlName="academicCommunityContributionPossibility"/>
                        <label
                            for="academicCommunityContributionPossibility">
                            {{ 'research-problems.academic-community-contribution-possibility.default' | translate }}</label>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form,
                           'academicCommunityContributionPossibility', 'required')"
                           id="academicCommunityContributionPossibility-input">
                        {{ 'academicCommunityContributionPossibility.required' | translate }}</small>
                </div>
                <div class="field col-md-12 mt-5">
                    <span class="p-float-label">
                        <categories-selector
                            controlName="categories"
                            label="categories.default"
                            [form]="form"
                            [data]="categories">
                        </categories-selector>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'categories', 'required')"
                           id="categories-input">{{ 'categories.required' | translate }}</small>
                </div>
                <div class="col-6 ml-0 pl-0">
                    <button iconPos="right" class="mt-3" type="submit" pButton pRipple
                            label="{{ 'save' | translate }}" icon="pi pi-save"></button>
                </div>
            </div>
        </div>
    </div>
</form>
