<div class="justify-content-center grid">
    <div class="col-10 card">
        <div class="flex justify-content-center my-5">
            <div class="flex align-items-center">
                <p-radioButton inputId="company" name="entityType" [value]="entityType.Company"
                               [(ngModel)]="selectedEntityType"
                ></p-radioButton>
                <label for="company" class="m-2">{{'company' | translate}}</label>
            </div>

            <div class="flex align-items-center">
                <p-radioButton inputId="scientist" name="entityType" [value]="entityType.Scientist"
                               [(ngModel)]="selectedEntityType"
                ></p-radioButton>
                <label for="scientist" class="m-2">{{'scientist' | translate}}</label>
            </div>

            <div class="flex align-items-center">
                <p-radioButton inputId="organization" name="entityType" [value]="entityType.Organization"
                               [(ngModel)]="selectedEntityType"
                ></p-radioButton>
                <label for="organization" class="m-2">{{'organization' | translate}}</label>
            </div>
        </div>

        <div class="justify-content-center grid">
            <div class="col-6">
                <company-general-form *ngIf="selectedEntityType == entityType.Company" [formType]="formType.Create"
                                      returnUrl="" [categories]="categories"></company-general-form>
                <scientist-general-form *ngIf="selectedEntityType == entityType.Scientist" [formType]="formType.Create"
                                        returnUrl="" [categories]="categories"></scientist-general-form>
                <organization-general-form *ngIf="selectedEntityType == entityType.Organization"
                                           [formType]="formType.Create"
                                           returnUrl="" [categories]="categories"></organization-general-form>
            </div>
        </div>
    </div>
</div>





