<p-table #dt [rowHover]="true"
         [showLoader]="true"
         styleClass="p-datatable-gridlines" [value]="data"
         dataKey="id"
         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
         [paginator]="true"
         currentPageReportTemplate="{first} {{'to' | translate }} {last}
         {{'category-items' | translate }} {{'from' | translate }}
         {totalRecords} {{'items' | translate }}"
         [globalFilterFields]="['name']"
         [tableStyle]="{'min-width':'75rem'}"
         responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="flex-column sm:flex-row text-left">
                        <span class="p-input-icon-left mr-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)"
                                   placeholder="{{'keyword' | translate }}" class="w-full"/>
						</span>
            <button (click)="clear(dt)" class="p-button" pButton pRipple type="button"
                    icon="pi pi-filter-slash"></button>
            <button (click)="goToCreatePage()" class="p-button" pButton pRipple type="button"
                    icon="pi pi-plus"></button>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th pSortableColumn="name">
                <div class="flex justify-content-between align-items-center">
                    {{ 'name' | translate }}
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
        <tr>
            <td class="d-flex text-center">
                <button (click)="confirmDelete()" class="p-button-danger mr-3" pButton pRipple type="button"
                        icon="pi pi-trash"></button>
                <button (click)="goToEditPage(category.id)" pButton pRipple type="button" icon="pi pi-pencil"></button>
            </td>
            <td>
                {{category.name}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">{{'no-categories-found' | translate }}</td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog header="{{'confirm-delete-action' | translate }}"
                 key="confirmDeleteDialog" icon="pi pi-exclamation-triangle"
                 message="{{'confirm-delete-message' | translate }}"
                 acceptButtonStyleClass="p-button-text"
                 acceptLabel="{{'yes' | translate }}"
                 rejectLabel="{{'no' | translate }}"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
