<div class="justify-content-center grid">
    <div class="col-12 log:col-8 md:col-8 card p-8 mb-6">
        <h1>{{ 'processing-and-protection-of-personal-data.default' | translate}}</h1>
        <div class="flex justify-content-center my-5">
            <div>
                <h1>{{ 'processing-and-protection-of-personal-data.introduction.title' | translate }}</h1>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.introduction.content' | translate }}</p>

                <h2>{{ 'processing-and-protection-of-personal-data.what-is-personal-data.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.what-is-personal-data.content' | translate }}</p>

                <h2>{{ 'processing-and-protection-of-personal-data.what-does-processing-encompass.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.what-does-processing-encompass.content' | translate }}</p>

                <h2>{{ 'processing-and-protection-of-personal-data.why-do-we-process-data.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.why-do-we-process-data.content' | translate }}</p>

                <h2>{{ 'processing-and-protection-of-personal-data.how-do-we-collect-data.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.how-do-we-collect-data.content' | translate }}</p>

                <h2>{{ 'processing-and-protection-of-personal-data.what-data-do-we-process.title' | translate }}</h2>
                <h4>{{ 'processing-and-protection-of-personal-data.what-data-do-we-process.researchers.title' | translate }}</h4>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500"
                   innerHTML="{{ 'processing-and-protection-of-personal-data.what-data-do-we-process.researchers.content' | translate }}"></p>

                <h4>{{ 'processing-and-protection-of-personal-data.what-data-do-we-process.organizations.title' | translate }}</h4>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.what-data-do-we-process.organizations.content' | translate }}</p>

                <h2>{{ 'processing-and-protection-of-personal-data.fundamental-principles.title' | translate }}</h2>
                <h4>{{ 'processing-and-protection-of-personal-data.fundamental-principles.lawfulness.title' | translate }}</h4>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.fundamental-principles.lawfulness.content' | translate }}</p>

                <h4>{{ 'processing-and-protection-of-personal-data.fundamental-principles.purpose-limitation.title' | translate }}</h4>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.fundamental-principles.purpose-limitation.content' | translate }}</p>

                <h4>{{ 'processing-and-protection-of-personal-data.fundamental-principles.data-minimization.title' | translate }}</h4>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.fundamental-principles.data-minimization.content' | translate }}</p>

                <h4>{{ 'processing-and-protection-of-personal-data.fundamental-principles.accuracy-and-integrity.title' | translate }}</h4>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.fundamental-principles.accuracy-and-integrity.content' | translate }}</p>

                <h4>{{ 'processing-and-protection-of-personal-data.fundamental-principles.storage-limitation.title' | translate }}</h4>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500"
                   innerHtml="{{ 'processing-and-protection-of-personal-data.fundamental-principles.storage-limitation.content' | translate }}"></p>

                <h2>{{ 'processing-and-protection-of-personal-data.integrity-and-confidentiality.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.integrity-and-confidentiality.content' | translate }}</p>

                <h2>{{ 'processing-and-protection-of-personal-data.user-consent.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.user-consent.content' | translate }}</p>

                <h2>{{ 'processing-and-protection-of-personal-data.cookies.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.cookies.content' | translate }}</p>

                <h2>{{ 'processing-and-protection-of-personal-data.where-data-is-processed.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.where-data-is-processed.content' | translate }}</p>

                <h2>{{ 'processing-and-protection-of-personal-data.conditions-for-sharing-data.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'processing-and-protection-of-personal-data.conditions-for-sharing-data.content' | translate }}</p>

                <h2>{{ 'processing-and-protection-of-personal-data.user-rights.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500"
                   innerHtml="{{ 'processing-and-protection-of-personal-data.user-rights.content' | translate }}"></p>
            </div>
        </div>
    </div>
</div>
