<p-table #newsDataTable
         dataKey="id"
         currentPageReportTemplate="{first} {{'to' | translate }} {last}
         {{'results' | translate }} {{'from' | translate }}
         {totalRecords} {{'results' | translate }}"
         responsiveLayout="scroll"
         [rowHover]="true"
         [showLoader]="true"
         [value]="data"
         [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 20]"
         [paginator]="true"
         [globalFilterFields]="['localizedTitle','content']"
         [tableStyle]="{'min-width':'75rem'}">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
            <div class="flex">
                <span class="p-input-icon-left mr-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(newsDataTable, $event)"
                           placeholder="{{'keyword' | translate }}" class="w-full"/>
                </span>
                <button
                    (click)="clear(newsDataTable)"
                    label="{{'clear'| translate }}"
                    icon="pi pi-times"
                    iconPos="right"
                    pButton pRipple
                    type="button">
                </button>
            </div>
            <button (click)="goToCreatePage()"
                    icon="pi pi-plus"
                    iconPos="right"
                    label="{{'news.new-news'| translate }}"
                    pButton pRipple
                    type="button"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:10%"></th>
            <th pSortableColumn="localizedTitle" style="width:20%">
                <div class="flex justify-content-between align-items-center">
                    {{ 'news.title.default' | translate }}
                    <p-sortIcon field="title"></p-sortIcon>
                    <p-columnFilter type="text" field="title" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="numberOfViews" style="width:20%">
                <div class="flex justify-content-between align-items-center">
                    {{ 'news.number-of-views' | translate }}
                    <p-sortIcon field="numberOfViews"></p-sortIcon>
                    <p-columnFilter type="number" field="numberOfViews" display="menu"
                                    class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="updatedAt" style="width:20%">
                <div class="flex justify-content-between align-items-center">
                    {{ 'news.updated-at' | translate }}
                    <p-sortIcon field="updatedAt"></p-sortIcon>
                    <p-columnFilter type="date" field="updatedAt" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th>{{'activity' | translate }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-news>
        <tr>
            <td class="d-flex">
                <button type="button" class="p-button-danger m-1" pButton pRipple
                        (click)="confirmDelete(news.id)"
                        icon="pi pi-trash"></button>
                <button type="button" class="p-button m-1" pButton pRipple (click)="goToEditPage(news.id)"
                        icon="pi pi-pencil"></button>
            </td>
            <td>
                {{news.localizedTitle}}
            </td>
            <td>
                {{news.numberOfViews}}
            </td>
            <td>
                {{news.updatedAt}}
            </td>
            <td>
                <p-button (click)="openFlipActiveDialog(news.id)"
                          icon="{{news.isActive ? 'pi pi-eye' : 'pi pi-eye-slash'}}"
                          styleClass="p-button-rounded p-button-text"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">{{'news.no-news-found' | translate }}</td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog header="{{'news.confirm-delete-action' | translate }}"
                 message="{{'news.confirm-delete-message' | translate }}"
                 acceptButtonStyleClass="p-button-text"
                 acceptLabel="{{'yes' | translate }}"
                 rejectLabel="{{'no' | translate }}"
                 key="confirmDeleteDialog"
                 icon="pi pi-exclamation-triangle"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-confirmDialog header="{{'activity-change.title' | translate }}"
                 message="{{'activity-change.message' | translate }}"
                 acceptLabel="{{'yes' | translate }}"
                 rejectLabel="{{'no' | translate }}"
                 icon="pi pi-exclamation-triangle"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
