<p-table #dt [rowHover]="true"
         [showLoader]="true"
          [value]="data" dataKey="id"
         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
         [paginator]="true"
         currentPageReportTemplate="{first} {{'to' | translate }} {last}
         {{'news-item' | translate }} {{'from' | translate }}
         {totalRecords} {{'items' | translate }}"
         [globalFilterFields]="['title','content']"
         [tableStyle]="{'min-width':'75rem'}"
         responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
            <div class="flex">
                <span class="p-input-icon-left mr-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)"
                           placeholder="{{'keyword' | translate }}" class="w-full"/>
                </span>
                <button
                    (click)="clear(dt)"
                    label="{{'clear'| translate }}"
                    icon="pi pi-times"
                    iconPos="right"
                    pButton pRipple
                    type="button">
                </button>
            </div>
            <button (click)="goToCreatePage()"
                    icon="pi pi-plus"
                    iconPos="right"
                    label="{{'new-news'| translate }}"
                    pButton pRipple
                    type="button"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th pSortableColumn="title" style="width:22%">
                <div class="flex justify-content-between align-items-center">
                    {{ 'title' | translate }}
                    <p-sortIcon field="title"></p-sortIcon>
                    <p-columnFilter type="text" field="title" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="numberOfViews" style="width:22%">
                <div class="flex justify-content-between align-items-center">
                    {{ 'number-of-views' | translate }}
                    <p-sortIcon field="numberOfViews"></p-sortIcon>
                    <p-columnFilter type="number" field="numberOfViews" display="menu"
                                    class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="updatedAt" style="width:22%">
                <div class="flex justify-content-between align-items-center">
                    {{ 'updated-at' | translate }}
                    <p-sortIcon field="updatedAt"></p-sortIcon>
                    <p-columnFilter type="date" field="updatedAt" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-news>
        <tr>
            <td class="d-flex text-center">
                <button (click)="confirmDelete()" class="p-button-danger mr-3" pButton pRipple type="button"
                        icon="pi pi-trash"></button>
                <button (click)="goToEditPage(news.id)" pButton pRipple type="button" icon="pi pi-pencil"></button>
            </td>
            <td>
                {{news.title}}
            </td>
            <td>
                {{news.numberOfViews}}
            </td>
            <td>
                {{news.updatedAt}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">{{'no-news-found' | translate }}</td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog header="{{'confirm-delete-action' | translate }}"
                 key="confirmDeleteDialog" icon="pi pi-exclamation-triangle"
                 message="{{'confirm-delete-message' | translate }}"
                 acceptButtonStyleClass="p-button-text"
                 acceptLabel="{{'yes' | translate }}"
                 rejectLabel="{{'no' | translate }}"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
