<form [formGroup]="form" (submit)="submit()">
    <div class="grid">
        <div class="col-12 md:col-8">
            <p-tabView orientation="left">
                <p-tabPanel header="{{ 'general' | translate }}" class="line-height-3 m-0">
                    <div class="p-fluid">
                        <div class="field field col-md-12">
                            <span class="p-float-label">
                                <input pInputText type="text" id="name" formControlName="name"/>
                                <label for="name">{{ 'name' | translate }}</label>
                            </span>
                        </div>
                        <div class="field field col-md-12">
                            <span class="p-float-label">
                                <input pInputText type="text" id="description" formControlName="description"/>
                                <label for="description">{{ 'description' | translate }}</label>
                            </span>
                        </div>
                        <div class="field field col-md-12">
                            <span class="p-float-label">
                                <input pInputText type="text" id="address" formControlName="address"/>
                                <label for="address">{{ 'address' | translate }}</label>
                            </span>
                        </div>
                        <div class="field field col-md-12">
                            <span class="p-float-label">
                                <input pInputText type="email" id="email" formControlName="email"/>
                                <label for="email">{{ 'email' | translate }}</label>
                            </span>
                        </div>
                        <div class="field field col-md-12">
                            <span class="p-float-label">
                                <input pInputText type="text" id="website" formControlName="website"/>
                                <label for="website">{{ 'website' | translate }}</label>
                            </span>
                        </div>
                        <div class="field field col-md-12">
                    <span class="p-float-label">
                        <categories-selector
                            label="categories"
                            controlName="categories"
                            [formName]="form">
                        </categories-selector>
                    </span>
                        </div>
                        <div class="field field col-md-12">
                            <span class="p-float-label">
                                <categories-selector
                                    label="newsletter-categories"
                                    controlName="newsletterCategories"
                                    [formName]="form">
                                </categories-selector>
                            </span>
                        </div>
                        <div class="field field col-md-12">
                            <span class="p-float-label">
                                <p-chips id="tags" formControlName="categoryTags"></p-chips>
                                <label for="tags">{{ 'tags' | translate }}</label>
                            </span>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="{{ 'username-password' | translate }}" class="line-height-3 m-0">
                    <div class="p-fluid">
                        <div class="field field col-md-12">
                            <span class="p-float-label">
                                <input pInputText type="text" id="username" formControlName="username"/>
                                <label for="username">{{ 'username' | translate }}</label>
                            </span>
                        </div>
                        <div class="field field col-md-12">
                            <span class="p-float-label">
                                <p-password inputStyleClass="w-full p-3 md:w-50rem" id="password"
                                            formControlName="password" [feedback]="true" text
                                            [toggleMask]="true"></p-password>
                                <label for="password">{{'password' | translate }}</label>
                            </span>
                        </div>
                        <div class="field field col-md-12">
                            <span class="p-float-label">
                                <p-password inputStyleClass="w-full p-3 md:w-50rem" id="confirmPassword"
                                            formControlName="confirmPassword" [feedback]="true"
                                            [toggleMask]="true"></p-password>
                                <label for="confirmPassword">{{'confirm-password' | translate }}</label>
                            </span>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Header III" class="line-height-3 m-0">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores
                    et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                    officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                    eligendi optio cumque nihil impedit
                    quo minus.
                </p-tabPanel>
            </p-tabView>
            <div class="p-fluid">
                <button class="mt-3" type="submit" pButton pRipple label="{{ 'save' | translate }}"></button>
            </div>
        </div>
    </div>
</form>
