<div class="grid">
    <div class="col-12 md:col-12">
        <p-tabView>
            <p-tabPanel header="{{ 'general' | translate }}" class="line-height-3 m-0">
                <organization-general-form [formType]="formType"
                                           [organization]="organization"
                                           [categories]="categories"
                                           [returnUrl]="returnUrl"></organization-general-form>
            </p-tabPanel>
            <p-tabPanel header="{{ 'auth.username-password' | translate }}" class="line-height-3 m-0">
                <div class="p-fluid">
                    <auth-change-password [username]="this.organization.username"
                                          [entityType]="entityType"
                                          [redirectType]="redirectType.NoRedirect"></auth-change-password>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'research-problems.default' | translate }}" class="line-height-3 m-0">
                <research-problems-data-table
                    [data]="researchProblems"
                    [dialogEdit]="true"
                    [categories]="categories"
                    [parentEntityType]="entityType"
                    [parentEntityId]="organization.id">
                </research-problems-data-table>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
