<p-fileUpload
    [multiple]="false"
    [maxFileSize]="1000000"
    [previewWidth]="200"
    [customUpload]="true"
    (onUpload)="addDocument($event)"
    (onSend)="addDocument($event)"
    (onProgress)="addDocument($event)"
    (onRemove)="deleteDocument($event)"
    (onClear)="deleteDocument($event)"
    (uploadHandler)="addDocument($event)"
    chooseLabel="{{'file-upload.choose-button' | translate}}"
    uploadLabel="{{'file-upload.upload-button' | translate}}"
    cancelLabel="{{'file-upload.cancel-button' | translate}}"
    invalidFileSizeMessageSummary="{{'file-upload.invalid-size.summary' | translate }}"
    invalidFileSizeMessageDetail="{{'file-upload.invalid-size.detail' | translate }}"
    invalidFileTypeMessageSummary="{{'file-upload.invalid-type.summary' | translate }}"
    invalidFileTypeMessageDetail="{{'file-upload.invalid-size.detail' | translate }}"
    invalidFileLimitMessageDetail="{{'file-upload.invalid-file-limit.summary' | translate }}"
    invalidFileLimitMessageSummary="{{'file-upload.invalid-file-limit.detail' | translate }}">
    <ng-template pTemplate="content">
        <ul *ngIf="documents.length">
            <li class="my-3" style="list-style: none;" *ngFor="let document of documents">
                <span class="mr-3">{{'file-upload.document-name' | translate }} {{ document.name }}</span>
                <span class="mr-3">{{'file-upload.uploaded-at' | translate }}
                    {{document.uploadedAt | date: 'dd.MM.yyyy HH:mm:ss'}}
                </span>
                <a href="{{document.path}}" target="_blank" download>{{'file-upload.download-document' | translate }}</a>
            </li>
        </ul>
    </ng-template>
</p-fileUpload>
