<form [formGroup]="form" (submit)="submit()">
    <div class="grid">
        <div class="col-12 mt-2">
            <div class="p-fluid">
                <div class="field field col-md-12 text-center" *ngIf="formType === formActionType.Edit">
                    <img class="profile-picture" [src]="product.imageUrl" height="250" width="250"
                         alt="product-image">
                </div>
                <div class="field field col-md-12" *ngIf="formType === formActionType.Edit">
                    <file-uploader name="image"
                                   [parentForm]="form"
                                   [entityType]="entityType"
                                   [entityId]="product.id"
                                   [parentEntityType]="parentEntityType"
                                   [parentEntityId]="parentEntityId">
                    </file-uploader>
                </div>
                <p-tabView>
                    <p-tabPanel header="{{ 'croatian' | translate }}" class="line-height-3 m-0">
                        <div class="field field col-md-12" formGroupName="title">
                            <span class="p-float-label" formGroupName="translations">
                                <input class="{{validationService.getInputClass(form, 'HR', 'required',
                                'title.translations')}}"
                                       aria-describedby="title-input-hr"
                                       pInputText type="text" id="title-hr" formControlName="HR"/>
                                <label for="title-hr">{{ 'products.title.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'HR', 'required',
                                   'title.translations')"
                                   id="title-input-hr">{{ 'products.title.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="description">
                                <span class="p-float-label" formGroupName="translations">
                                    <textarea
                                        class="{{validationService.getInputClass(form, 'HR', 'required',
                                        'description.translations')}}"
                                        pInputText
                                        aria-describedby="description-input"
                                        id="description-hr"
                                        formControlName="HR"
                                        rows="10">
                                    </textarea>
                                    <label
                                        for="description-hr">{{ 'products.description.default' | translate }}</label>
                                </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'HR', 'required',
                                           'description.translations')"
                                   id="description-input-hr">{{ 'products.description.required' | translate }}</small>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{ 'english' | translate }}" class="line-height-3 m-0">
                        <div class="field field col-md-12" formGroupName="title">
                            <span class="p-float-label" formGroupName="translations">
                                <input class="{{validationService.getInputClass(form, 'EN', 'required',
                                'title.translations')}}"
                                       aria-describedby="title-input-en"
                                       pInputText type="text" id="title-en" formControlName="EN"/>
                                <label for="title-hr">{{ 'products.title.default' | translate }}</label>
                            </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'EN', 'required',
                                   'title.translations')"
                                   id="title-input-en">{{ 'products.title.required' | translate }}</small>
                        </div>
                        <div class="field field col-md-12" formGroupName="description">
                                <span class="p-float-label" formGroupName="translations">
                                    <textarea
                                        class="{{validationService.getInputClass(form, 'EN', 'required',
                                        'description.translations')}}"
                                        pInputText
                                        aria-describedby="description-input"
                                        id="description-en"
                                        formControlName="EN"
                                        rows="10">
                                    </textarea>
                                    <label
                                        for="description-en">{{ 'products.description.default' | translate }}</label>
                                </span>
                            <small class="p-error"
                                   *ngIf="validationService.hasErrors(form, 'EN', 'required',
                                           'description.translations')"
                                   id="description-input-en">{{ 'products.description.required' | translate }}</small>
                        </div>
                    </p-tabPanel>
                </p-tabView>
                <div class="field col-md-12">
                    <span class="p-float-label">
                        <categories-selector
                            controlName="categories"
                            label="categories.default"
                            [form]="form"
                            [data]="categories">
                        </categories-selector>
                    </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'categories', 'required')"
                           id="categories-input">{{ 'categories.required' | translate }}</small>
                </div>
                <div class="col-12 ml-0 pl-0">
                    <translate-button [form]="form"
                                      sourceLanguage="HR"
                                      targetLanguage="EN"
                                      [formControlNames]="['title','description']"></translate-button>
                    <p-button iconPos="right" type="submit"
                              label="{{ 'save' | translate }}" icon="pi pi-save"
                              [loading]="isLoading"></p-button>
                </div>
            </div>
        </div>
    </div>
</form>
