<div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden">
    <div class="mx-4 md:mx-8 mt-0 md:mt-4 mb-6">
        <h1 class="text-6xl font-bold text-900 line-height-2">{{ 'rimap' | translate }}</h1>
        <p class="font-normal text-2xl line-height-3 md:mt-3 text-700">{{ 'rimap-description' | translate }} </p>
        <button pButton pRipple type="button" [routerLink]="['/registration']"
                label="{{'join-us' | translate}}"
                class="text-xl border-none mt-3 bg-blue-50 font-normal line-height-3 px-3"></button>
    </div>
</div>


<div class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden">
    <div class="mx-4 md:mx-8 mt-0 md:mt-4 text-center">
        <h2>{{ 'search-registered-subjects' | translate }}</h2>
        <button pButton pRipple type="button" [routerLink]="['/main-search']"
                label="{{'search' | translate}}"
                class="text-xl border-none mt-3 bg-blue-50 font-normal line-height-3 px-3"></button>
    </div>
</div>

<latest
    [latestCompanies]="latestCompanies"
    [latestCompanyResearchProblems]="latestCompanyResearchProblems"
    [latestEquipment]="latestEquipment"
    [latestScientists]="latestScientists"
    [latestOrganizations]="latestOrganizations"
    [latestNews]="latestNews"
    [latestOrganizationResearchProblems]="latestOrganizationResearchProblems"
></latest>
