<div class="grid">
    <div class="col-12 md:col-12">
        <p-tabView>
            <p-tabPanel header="{{ 'general' | translate }}" class="line-height-3 m-0">
                <company-general-form [formType]="formType"
                                      [categories]="categories"
                                      [company]="company"
                                      [returnUrl]="returnUrl"></company-general-form>
            </p-tabPanel>
            <p-tabPanel header="{{ 'auth.username-password' | translate }}" class="line-height-3 m-0">
                <div class="p-fluid">
                    <auth-change-password [username]="this.company.username"
                                          [entityType]="entityType"></auth-change-password>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'research-problems.default' | translate }}" class="line-height-3 m-0">
                <research-problems-data-table
                    [data]="researchProblems"
                    [categories]="categories"
                    [parentEntityType]="entityType"
                    [parentEntityId]="company.id"
                    [dialogEdit]="true"
                ></research-problems-data-table>
            </p-tabPanel>
            <p-tabPanel header="{{'job-offers.default' | translate }}" class="line-height-3 m-0">
                <job-offers-data-table
                    [data]="jobOffers"
                    [categories]="categories"
                    [companyId]="company.id"
                    [dialogEdit]="true"
                ></job-offers-data-table>
            </p-tabPanel>
            <p-tabPanel header="{{ 'products.default' | translate }}" class="line-height-3 m-0">
                <products-data-table [data]="products"
                                     [categories]="categories"
                                     [parentEntityType]="entityType"
                                     [parentEntityId]="company.id"
                                     [dialogEdit]="true"></products-data-table>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
