<div class="justify-content-center grid">
    <div class="col-12 log:col-8 md:col-8 card p-8 mb-6">
        <h1>{{ 'methodology-data-collection.default' | translate}}</h1>
        <div class="flex justify-content-center my-5">
            <div>
                <h2>{{ 'methodology-data-collection.introduction.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'methodology-data-collection.introduction.content' | translate }}</p>

                <h2>{{ 'methodology-data-collection.data-sources.title' | translate }}</h2>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'methodology-data-collection.data-sources.content' | translate }}</p>
                <ul>
                    <li class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'methodology-data-collection.data-sources-list.user-input' | translate }}</li>
                    <li class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'methodology-data-collection.data-sources-list.public-sources' | translate }}</li>
                    <li class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'methodology-data-collection.data-sources-list.commercial-services' | translate }}</li>
                </ul>

                <h2>{{ 'methodology-data-collection.data-collection-process.title' | translate }}</h2>

                <h4>{{ 'methodology-data-collection.data-collection-process.initial-collection.title' | translate }}</h4>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'methodology-data-collection.data-collection-process.initial-collection.content' | translate }}</p>

                <h4>{{ 'methodology-data-collection.data-collection-process.verification-validation.title' | translate }}</h4>
                <p class="font-normal text-xl line-height-3 md:mt-3 text-500">{{ 'methodology-data-collection.data-collection-process.verification-validation.content' | translate }}</p>
            </div>
        </div>
    </div>
</div>
