<div id="main-search" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden">
    <div class="mx-4 md:mx-8 mt-0 md:mt-4 mb-6 text-center">
        <h1 class="text-6xl font-bold text-100 line-height-2">{{ 'main-search' | translate }}</h1>
    </div>
</div>

<div class="justify-content-center grid">
    <div class="lg:col-10 md:col-10 col-12">
        <p-tabView>
              <span class="p-float-label">
                  <input pInputText type="text" #filter (input)="onFilter($event.target)" class="w-full"/>
                <label>{{ 'keyword' | translate }}</label>
            </span>
            <p-tabPanel header="{{'companies.default' | translate }}">
                <entity-data-view
                    [entities]="companies"
                    [entityType]="entityType.Company"
                    [categories]="categories"
                    [showFilterInput]="false"
                    [externalFilterInput]="true"
                    filterField="name"
                ></entity-data-view>
            </p-tabPanel>
            <p-tabPanel header="{{'scientists.default' | translate }}">
                <entity-data-view
                    [entities]="scientists"
                    [entityType]="entityType.Scientist"
                    [categories]="categories"
                    [showFilterInput]="false"
                    [externalFilterInput]="true"
                    filterField="fullName"
                ></entity-data-view>
            </p-tabPanel>
            <p-tabPanel header="{{'organizations.default' | translate }}">
                <entity-data-view
                    [entities]="organizations"
                    [entityType]="entityType.PublicOrganization"
                    [categories]="categories"
                    [showFilterInput]="false"
                    [externalFilterInput]="true"
                    filterField="name"
                ></entity-data-view>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
