<form [formGroup]="form" (submit)="submit()">
    <div class="p-fluid">
        <div class="field field col-md-12 text-center" *ngIf="formType === type.Edit">
            <img class="profile-picture" [src]="organization.imageUrl" height="250" width="250">
        </div>
        <div class="field field col-md-12" *ngIf="formType === type.Edit">
            <profile-picture
                name="image"
                [parentForm]="form"
                [entityType]="entityType"
                [entityId]="organization.id">
            </profile-picture>
        </div>

        <credentials-form *ngIf="formType === type.Create" [entityType]="entityType" [form]="form"></credentials-form>

        <div class="field field col-md-12">
            <span class="p-float-label">
                <input class="{{validationService.getInputClass(form, 'name', 'required')}}"
                       aria-describedby="name-input"
                       pInputText type="text" id="name" formControlName="name"/>
                <label for="name">{{ 'organizations.name.default' | translate }}</label>
            </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'name', 'required')"
                   id="name-input">{{ 'organizations.name.required' | translate }}</small>
        </div>
        <p-tabView>
            <p-tabPanel header="{{ 'croatian' | translate }}" class="line-height-3 m-0">
                <div class="field field col-md-12" formGroupName="description">
                <span class="p-float-label" formGroupName="translations">
                    <textarea
                        class="{{validationService.getInputClass(form, 'HR', 'required',
                        'description.translations')}}"
                        pInputText
                        aria-describedby="description-input"
                        id="description-hr"
                        formControlName="HR"
                        rows="10">
                    </textarea>
                <label for="description-hr">{{ 'organizations.description.default' | translate }}</label>
                </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'HR', 'required',
                           'description.translations')"
                           id="description-input-hr">{{ 'organizations.description.required' | translate }}</small>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{ 'english' | translate }}" class="line-height-3 m-0">
                <div class="field field col-md-12" formGroupName="description">
            <span class="p-float-label" formGroupName="translations">
                <textarea
                    class="{{validationService.getInputClass(form, 'EN', 'required',
                    'description.translations')}}"
                    pInputText
                    aria-describedby="description-input-en"
                    id="description-en"
                    formControlName="EN"
                    rows="10">
                </textarea>
                <label for="description-en">{{ 'organizations.description.default' | translate }}</label>
            </span>
                    <small class="p-error"
                           *ngIf="validationService.hasErrors(form, 'EN', 'required',
                           'description.translations')"
                           id="description-input-en">{{ 'organizations.description.required' | translate }}</small>
                </div>
            </p-tabPanel>
        </p-tabView>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <input class="{{validationService.getInputClass(form, 'address', 'required')}}"
                       aria-describedby="address-input"
                       pInputText type="text" id="address" formControlName="address"/>
                <label for="address">{{ 'organizations.address.default' | translate }}</label>
            </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'address', 'required')"
                   id="address-input">{{ 'organizations.address.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <input class="{{validationService.getInputClass(form, 'email', 'required')}}"
                       aria-describedby="email-input"
                       pInputText type="email" id="email" formControlName="email"/>
                <label for="email">{{ 'organizations.email.default' | translate }}</label>
            </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'email', 'required')"
                   id="email-input">{{ 'organizations.email.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <input class="{{validationService.getInputClass(form, 'website', 'required')}}"
                       aria-describedby="website-input"
                       pInputText type="text" id="website" formControlName="website"/>
                <label for="website">{{ 'organizations.website.default' | translate }}</label>
            </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'website', 'required')"
                   id="website-input">{{ 'organizations.website.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <categories-selector
                    label="categories.default"
                    controlName="categories"
                    [data]="categories"
                    [form]="form">
                </categories-selector>
            </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'categories', 'required')"
                   id="categories-input">{{ 'categories.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label">
                <categories-selector
                    label="categories.newsletter-categories.default"
                    controlName="newsletterCategories"
                    [data]="categories"
                    [form]="form">
                </categories-selector>
            </span>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'newsletterCategories', 'required')"
                   id="newsletterCategories-input">{{ 'categories.newsletter-categories.required' | translate }}</small>
        </div>
        <div class="field field col-md-12">
            <span class="p-float-label mb-1">
                <p-chips class="{{validationService.getInputClass(form, 'categoryTags', 'required')}}"
                         aria-describedby="tags-input"
                         id="tags" formControlName="categoryTags"></p-chips>
                <label for="tags">{{ 'categories.tags.default' | translate }}</label>
            </span>
            <small class="helper-text">
                <i class="pi pi-info-circle"></i>
                {{'categories.tags.please-hit-enter' | translate }}
            </small>
            <br/>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'categoryTags', 'required')"
                   id="tags-input">{{ 'categories.tags.required' | translate }}</small>
        </div>
        <div class="col-12 ml-0 p-0">
            <translate-button [form]="form"
                              sourceLanguage="HR"
                              targetLanguage="EN"
                              [formControlNames]="['description']"></translate-button>
            <p-button iconPos="right" class="mt-3" type="submit"
                      label="{{ 'save' | translate }}" icon="pi pi-save"
                      [loading]="isLoading"></p-button>
        </div>
    </div>
</form>
